update_interval: 5
log_level: trace
notification_providers:
  discord:
    webhook_url: https://canary.discord.com/api/webhooks/1/0
    enable: false
  pushover:
    enable: false
    priority: 1
    api_key: key
    device_key: device_key
friendly_names:
  QXNodG9uIFNoZXJ5bCBNb3JzZQ==: "My laptop"
ignored_subnets:
  - 192.168.1.0/24
  - 2a05:f6c7:3273:ffff:51cc:b861:9c99:cb48/64